@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/inter-latin-400-normal.woff2") format("woff2"), url("../fonts/inter-latin-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/inter-latin-500-normal.woff2") format("woff2"), url("../fonts/inter-latin-500-normal.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/inter-latin-600-normal.woff2") format("woff2"), url("../fonts/inter-latin-600-normal.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/inter-latin-700-normal.woff2") format("woff2"), url("../fonts/inter-latin-700-normal.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/jetbrains-mono-latin-400-normal.woff2") format("woff2"), url("../fonts/jetbrains-mono-latin-400-normal.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/jetbrains-mono-latin-500-normal.woff2") format("woff2"), url("../fonts/jetbrains-mono-latin-500-normal.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/jetbrains-mono-latin-600-normal.woff2") format("woff2"), url("../fonts/jetbrains-mono-latin-600-normal.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/jetbrains-mono-latin-700-normal.woff2") format("woff2"), url("../fonts/jetbrains-mono-latin-700-normal.woff") format("woff");
}
